# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Android
**/android/.gradle/
**/android/local.properties

# iOS
**/ios/Flutter/ephemeral/
**/ios/Pods/
**/ios/Podfile.lock

# IDE
.idea/
.vscode/
*.iml
